/**
 * Site specific CSS
 */

body
    background-color #ffedd6
    text-align center
    font-family 'Computer Modern Concrete'
    font-size 18px
    color #333
    margin-top 20px
    margin-bottom 20px

h1
    color #A43A2C 
    font-family 'Computer Modern Serif'
    font-size 3em
    letter-spacing -0.05em
    font-weight normal

a
    color #1B5866
a:hover
    color #278196

.download-button
    background-color #A43A2C
    padding 10px
    color #FFF
    size 2em
    text-decoration none
    display block
    width 300px
    margin-left auto
    margin-right auto
    -webkit-border-radius 10px
    border-radius 10px
    margin-bottom 20px

.download-button:hover
    background-color #C84735
    color #FFF
    text-decoration underline

.updated-time
    color #666
    font-size 0.7em

footer
    color #666
    font-size 0.7em

.book-image
    margin-bottom 40px

article:first-of-type
    text-align center

article
    background-color #fff
    margin-left auto
    margin-right auto
    width 500px
    padding 20px
    -webkit-border-radius 10px
    border-radius 10px
    -webkit-box-shadow 0 0 20px 0 rgba(0,0,0,0.1)
    box-shadow 0 0 20px 0 rgba(0,0,0,0.1)
    margin-bottom 40px
    ul
        text-align left
